<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application>

        <!-- We remove this activity entry to avoid all modules depending on this one having to define an override for
             the manifest placeholder 'appAuthRedirectScheme'. The entry is added back in :app:common -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="remove"
            />

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="msauth"
                    android:host="${applicationId}"
                    android:path="/+gWbvv6P8JNcgqpnrqIF6pRUw/k=" />
            </intent-filter>
        </activity>

    </application>
</manifest>
